/* Los estilos de tu proyecto */
@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background-color: #f7b617;
    color: #fff;
    font-family: 'Raleway', sans-serif;    
}

header {
    background-color: #fff;
    width: 100%;
    height: 122px;
    top: 0;
}

header img {
    transform: translateY(40px);
}

.hamburguer {
    width: 24px;
    height: 2px;
    background: #2b2b2b;
    position: absolute;
    top: 33px;
    left: 26px;
}

.hamburguer::after, .hamburguer::before {
    width: 24px;
    height: 2px;
    background: #2b2b2b;
    position: absolute;
    content: ' ';
    display: block;
}

.hamburguer::before {
    top: -7px;
}

.hamburguer::after {
    top: 7px;
}

.content-hamburguer {
    border: 1px solid #afaaaa;
    border-radius: 3px;
    width: 40px;
    height: 35px;
    margin-top: -5%;
    margin-left: 5%;
}

.content-hamburguer:hover {
    background-color: #f7b617;
    cursor: pointer;
    border: none;
}

.weight {
    font-weight: 600;
}

.banner {
    background-image: url('../assets/images/taxi.jpg');
    height: 445px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    position: relative;
}

.first {
    background-color: #f7b617;
    transform: translateY(50%);
    position: absolute;
    height: 45%;
}

.first p {
    padding: 13px;
}

.first p img {
    width: 70px;
}

.first button {
    margin-left: 6%;
    margin-top: 6px;
    border: none;
    color: #000;
}
.iphone {
    border: 1px solid #fff;
    margin: 30px 0;
    padding: 35px 0;
    margin-right: 15px;
    margin-left: 15px;
}

.app-p {
    margin-left: 15px;
}

.iphone img {
    height: 200px;
}

.conduce {
    background-image: url('../assets/images/conduce.jpg');
    height: 345px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
}

.opacity {
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.conduce button {
    background-color: #f7b617;
    border: none;
}

.conviertete {
    margin-top: 20%;
    padding-left: 25px;
}

form img {
    display: inline-block;
    margin-right: 5px;
}

form div {
    margin-bottom: 25px;
}

.tarifas input {
    background-color: #f7b617;
    border-style: none;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 8px;
    padding: 9px;
    outline: none;
    width: 90%;
    left: 15px;
    font-size: 12px;
}

::placeholder{
    color: #fff;
}

.tarifas button {
    border: none;
    margin-top: -14px;
    font-size: 12px;
    padding: 8px 25px;
}

.map {
    border: 1px solid #fff;
    margin: 2em 0;
}

.map img {
    padding: 10px;
}

.tarifas p:first-child {
    margin-top: 40px;
}

.tarifas p:nth-child(2) {
    margin-bottom: 30px;
}

footer{
    background-color: #2b2b2b;
    padding: 0;
    color: #fff;
}

.logo-footer {
    width: 110px;
    padding-top: 12px;
}

footer ul {
    list-style: none;
}

.play {
    width: 150px;
}

.red-social {
    margin-right: 53px;
}

.red-social li {
    display: inline-block;
    padding: 5px;
}

.footer-nav li {
    margin-bottom: 14px;
}

.store img{
    display: block;
    margin-bottom: 13px;
}

.store {
    margin-top: -175px;
    margin-left: 160px;
    margin-bottom: 100px;
}

footer p {
    margin-bottom: 9px;
}

.footer-nav li:hover, .red-social li:hover {
    color: #f7b617;
    cursor: pointer;
}

/* -- Modal -- */

.modal-open {
    padding-right: 0;
}

.modal-content {
    background-color: #777777;
    outline: none
}

.modal-header, .modal-footer {
    border: none;
}

.modal-body select, .modal-body input{
    width: 100%;
}

.modal-body{
    margin-top: -6%;
}

.modal-body a{
    text-decoration: none;
}

.modal-footer button{
    background-color: rgb(18, 159, 214);
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
}

#myModal .close {
    background-color: #2b2b2b;
    font-size: 25px;
    opacity: .8;
    color: #fff;
    z-index: 1000;
}



@media (min-width: 768px) {

    .nav-header ul li{
        display: inline-block;
        color: #2b2b2b;
        margin-right: 45px;
        font-size: 18px;
    }

    .nav-header ul li:hover {
        cursor: pointer;
        color: #f7b617;
    }

    .nav-header ul {
        float: right;
        margin-right: 80px;
        margin-top: 1%;
    }

    .logo-left {
        margin-left: 100px;
    }

    .banner {
        height: 688px;
    }

    .first {
        height: 50%;
    }

    .banner-obien::after, .banner-obien::before {
        width: 110px;
        height: 1px;
        background: #fff;
        content: ' ';
        display: inline-block;
    }

    .banner-obien {
        margin-left: 5%;
    }

    .banner-obien a{
        color: #fff;
        margin: 0 35px;
    }

    .text-app {
        width: 40%;
        float: right;
    }

    .app {
        height: 530px;
    }

    .app img {
        width: 300px;
        height: auto;
        margin-left: 8%
    }

    .iphone {
        padding: 60px;
        border-left: none;
        margin-left: 0;
    }

    .container {
        width: 100%;
    }

    .conviertete {
        float: right;
        margin-top: 0;
    }

    .opacity {
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
    }

    .opacity-md {
        height: 100%;
        background-color: rgba(0, 0, 0, .4);
    }

    .btn-md {
        font-size: 18px;
        padding: 8px;
    }

    .conduce-metas {
        line-height: 1.5em;
    }

    .text-conduce {
        margin-top: 27%;
    }

    .conduce {
        background-image: url('../assets/images/conduce.jpg');
        height: 445px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
    }

    .text-tarifas {
        margin-top: 4em;
    }

    .tarifas {
        height: 567px;
    }

    .map {
        margin-top: 6em;
        margin-left: 10em;
    }

    .map img {
        width: auto;
        height: 375px;
    }

    .btn-ruta {
        float: left;
        margin-left: 7%;
        padding: 15px 25px;
    }

    .tarifas form {
        margin-left: 80px;
        margin-top: 50px;
    }

    .tarifas p {
        margin-left: 7%;
    }

    .tarifas input {
        padding: 13px;
        font-size: 14px;
    }

    .footer-api li {
        margin-bottom: 14px;
    }

    .footer-api {
        margin-top: 2em;
    }

    .footer-api li:hover, .footer-nav li:hover, .red-social li:hover {
        cursor: pointer;
        color: #f7b617;
    }

    .footer-nav {
        margin-top: 2em;
    }

    .red-social {
        margin-top: 20em;
        margin-bottom: 0;
        margin-left: 4em;
    }
    
    .store {
        margin-top: 0;
        padding-top: 10em;
        margin-left:6em;
        margin-bottom: 0;
    }

    .logo-footer {
        margin-left: 6em;
        margin-top: 5em;
    }

    footer p {
        margin-bottom: 5em;
    }

    body.modal-open {
        padding-right: 0px !important;
    }

    .modal {
        width: 40%;
        margin: 0 auto;
        margin-top: 2em;
    }

    .modal-body {
        margin-top: -2.5%;
    }

    .btn-body {
        background-color: rgb(0, 0, 0);
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
    }

    .btn-body:hover {
        color: #817f7f;
    }

    .modal-body input {
        color: #000;
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.42857143;
        text-align: left;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
            touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .p-register {
        color: #000;
    }

    #myModalRegister input::placeholder{
        color: #2b2b2b;
    }

    .modal-body input {
        margin-bottom: 1em;
    }

    .input-one , .input-two {
        width: 48% !important;
        display: inline-block !important;
    }

    .input-two {
        margin-left: 1% !important;
    }

    #myModalLogin .modal-content{
        background-color: #08ac9d;
    }

    #myModalLogin {
        width: 45%;
    }

    #myModalLogin .modal-footer {
        margin-bottom: 0;
    }

    #myModalLogin .modal-footer p{
        color: #000;
    }

    .form-login {
        background-color: #f5f5f5;
        width: 50%;
        margin: 0 auto;
        border-radius: 5px;
        padding: 20px;
    }

    .form-login button {
        background-color: #f7b617;
    }

    .logo-user {
        width: 150px;
    }
}

